
body {
	background:#eee;
}

p {
	font-family: "微软雅黑";
}

a {
	font-family: "微软雅黑";
	text-decoration: none;
	color: #000;
}

/*===========================================neck==*/

.neck {
	position: fixed;
	top: 0;
	height: 80px;width: 100%;
	background:linear-gradient(to top, #56a3fb 0, #09488f 100%);
	padding-top: 10px;padding-bottom: 10px;
	background-color: #f9f9f9;
	z-index: 10;
}

.middle {
	width: 1000px;
	margin: 0 auto;
}

.neck_logo {
	width: 80px;height: 80px;
	margin-right: 40px;
	float: left;
}

.neck_logo:hover {
	1transform-origin: 0 0;/*指定变形中心，默认为正中*/
	transform:rotate(360deg);
	transition:transform 2s ease;
}

.neck_p1 {
	line-height: 70px;
	float: left;
}

.neck_p1 a {
	padding-left: 12px;padding-right: 12px;padding-bottom: 20px;
	text-decoration: none;
	color: #191b1d;
	font-family: "微软雅黑";
	font-size: 15px;
	transition:all 300ms ease;
}

.neck_p1 a:hover {
	color: #248bff;
	border-bottom: 4px solid #248bff;
}

.neck_selected {
	font-weight: bold;
}

.neck_p2 {
	line-height: 70px;
	float: right;
}

.neck_p2 a {
	padding-right: 20px;
	text-decoration: none;
	color: #191b1d;
	font-family: "微软雅黑";
	font-size: 15px;
}

.neck_search {
	position: relative;
	left: 37px;
	height: 30px;width: 170px;
	font-size: 18px;
	padding-left: 10px;padding-right: 35px;
	background-color: #f7f7f7;
	border-radius: 2px;
	border: 1px solid #e3e3e3;
}

.neck_search:focus {
	outline: none;
}

.img_search {
	position: relative;
	top: 8px;
	cursor: pointer;
}

/*======================*/
.main {
	margin-top: 100px;
}

.item_title {
	font-family: "微软雅黑";
	font-size: 30px;
	color: #888;
	padding: 20px 0;
}

.middle_content li {
	width: 100%;height: 355px;
	border: 2px solid #888;
	margin-bottom: 30px;
	border-radius: 50px 0 0 50px;
}

.c_left {
	float: left;
	width: 300px;
}

.icon {
	width: 100px;height: 100px;
}

.app_panel {
	padding-left: 40px;
}

.app_panel p {
	font-size: 30px;
}

.app_name {
	color: #3a85da;
}

.download {
	background-color: #428fe7;
	color: #fff;
	display: block;
	width: 150px;height: 35px;line-height: 35px;
	text-align: center;
}

.download:hover {
	background-color: #3a85da;
}

.c_left_bottom {
	text-indent: 2em;
	padding-top: 10px;
	padding-left: 20px;
}


.c_right {
	float: right;
}

.c_right img {
	float: left;
	width: 200px;height: 355px;
	margin-left: 30px;
}

/*======================*/

.foot p {
	text-align: center;
	margin-bottom: 20px;
}

.foot a {
	color: #56a3fb;
	text-decoration: underline;
}

/*======================*/

.img_panel {
	position: relative;
}

.mask {
	width: 450px;height: 243px;
	background-color: #000;
	opacity: 0.5;
	display: none;
	position: absolute;
	top: 0;
}


