
body {
	background:#eee;
}

p {
	font-family: "微软雅黑";
}

a {
	font-family: "微软雅黑";
	text-decoration: none;
	color: #000;
}

/*===========================================neck==*/

.neck {
	position: fixed;
	top: 0;
	height: 80px;width: 100%;
	background:linear-gradient(to top, #56a3fb 0, #09488f 100%);
	padding-top: 10px;padding-bottom: 10px;
	background-color: #f9f9f9;
	z-index: 10;
}

.middle {
	width: 1000px;
	margin: 0 auto;
}

.neck_logo {
	width: 80px;height: 80px;
	margin-right: 40px;
	float: left;
}

.neck_logo:hover {
	1transform-origin: 0 0;/*指定变形中心，默认为正中*/
	transform:rotate(360deg);
	transition:transform 2s ease;
}

.neck_p1 {
	line-height: 70px;
	float: left;
}

.neck_p1 a {
	padding-left: 12px;padding-right: 12px;padding-bottom: 20px;
	text-decoration: none;
	color: #191b1d;
	font-family: "微软雅黑";
	font-size: 15px;
	transition:all 300ms ease;
}

.neck_p1 a:hover {
	color: #248bff;
	border-bottom: 4px solid #248bff;
}

.neck_selected {
	font-weight: bold;
}

.neck_p2 {
	line-height: 70px;
	float: right;
}

.neck_p2 a {
	padding-right: 20px;
	text-decoration: none;
	color: #191b1d;
	font-family: "微软雅黑";
	font-size: 15px;
}

.neck_search {
	position: relative;
	left: 37px;
	height: 30px;width: 170px;
	font-size: 18px;
	padding-left: 10px;padding-right: 35px;
	background-color: #f7f7f7;
	border-radius: 2px;
	border: 1px solid #e3e3e3;
}

.neck_search:focus {
	outline: none;
}

.img_search {
	position: relative;
	top: 8px;
	cursor: pointer;
}

/*======================*/
.main {
	margin-top: 100px;
	margin-bottom: 20px;
}

.item_title {
	font-family: "微软雅黑";
	font-size: 30px;
	color: #888;
	padding: 20px 0;
}

.content_left {
	width: 730px;min-height: 700px;
	float: left;
	border-radius: 10px 10px 0 0;
}

.mynovel {
	width: 100%;height: 300px;
	border: 1px solid #aaa;
	border-radius: 10px 10px 0 0;
}

.list_view {
	width: 250px;height: 500px;
	border: 1px solid #aaa;
	border-radius: 10px 10px 0 0;
	float: right;
}

.content_left li {
	width: 150px;height: 200px;
	float: left;
	margin: 15px;
	border: 1px solid #ddd;
	box-shadow: 10px 10px 5px #999;
}

.list_view li {
	width: 100%;height: 30px;line-height: 30px;
	border-bottom: 1px solid #ddd;
}

.list_view ul {
	height: 455px;
	overflow-y: auto;
}


.list_view a {
	display: block;
	height: 100%;
	transition:all 200ms ease; 
	padding-left: 10px;
}

.list_view a:hover {
	color: blue;
	background-color: #ddd;
	font-size: 18px;
}


.content_left img {
	width: 150px;height: 200px;
}

.title {
	background-color: #ddd;
	font-size: 22px;
	height: 40px;line-height: 40px;
	border-radius: 10px 10px 0 0;
	color: #777;
	text-align: center;
	border-bottom: 1px solid #aaa;
}

.mynovel_left {
	float: left;
	padding: 10px;
}

.mynovel_right {
	float: left;
	padding: 10px;
	width: 525px;
}

.bookname {
	width: 100%;
	text-align: center;
	padding-top: 5px;
}

.bookname a {
	font-size: 24px;
	font-family: "华文行楷";
}

.mynovel a:hover {
	text-decoration: underline;
	color: blue;
}

.shortinfo {
	text-indent: 2em;
}

.mynovel_right p {
	line-height: 25px;
}

.mynovel_right a {
	color: blue;
}

.books {
	margin-top: 30px;
	border: 1px solid #aaa;
	border-radius: 10px 10px 0 0;
}


/*======================*/

.foot p {
	text-align: center;
	margin-bottom: 20px;
}

.foot a {
	color: #56a3fb;
	text-decoration: underline;
}

/*======================*/

.img_panel {
	position: relative;
}

.mask {
	width: 450px;height: 243px;
	background-color: #000;
	opacity: 0.5;
	display: none;
	position: absolute;
	top: 0;
}


