
.wrap {
	width: 1000px;
	margin: 0 auto;
}

.head {
	width: 100%;height: 90px;
}

.neck {
	width: 100%;height: 46px;
	margin: 0 auto;margin-bottom: 5px;
	background: url("../img/navbarback.png") no-repeat;
	border: 1px solid #fff;
}

.chest {
	width: 100%;height: 220px;
}

.belly {
	width: 100%;height: 2500px;
	margin-top: 10px;
}

.thigh {
	width: 100%;height: 245px;
	border-bottom: 1px dashed #DDDDDD;
	background: url("../img/footer_logo.jpg") no-repeat 400px 20px;
	padding-top: 10px;
}

.foot {
	width: 90%;height: 80px;
	margin: 10px auto;
}

/*=============================================*/

.chest_left {
	width: 70%;height: 100%;
	border: 1px solid #DDDDDD;
	float: left;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.chest_right {
	width: 29%;height: 100%;
	border: 1px solid #DDDDDD;
	float: right;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}


.belly_left {
	width: 70%;height: 100%;
	float: left;
}

.belly_right {
	width: 29%;
	float: right;
}

/*=============================================*/

.bleft_div1 {
	width: 100%;height: 225px;
	margin-bottom: 10px;
	background: url("../img/front_three3.jpg") no-repeat;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bleft_div2 {
	width: 100%;
	margin-bottom: 10px;
	
}

.bleft_div3 {
	width: 100%;height: 1530px;
	margin-bottom: 10px;

}



.bright_div1 {
	width: 100%;height: 120px;
	margin-bottom: 10px;
	background: url("../img/bu_front_new2.jpg") no-repeat;
	border: 1px solid #DDDDDD;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bright_div2 {
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bright_div3 {
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bright_div4 {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bright_div5 {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bright_div6 {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.bright_div7 {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/*=============================================*/

.tools {
	float: right;
}

.topbar {
	width: 400px;height: 34px;
	background: url("../img/topbar.jpg") repeat-x;
	border-radius: 0 0 8px 8px;
	border: 1px solid #DDDDDD;
	float: left;
}

.mobile {
	width: 80px;height: 35px;
	background-color: orange;
	float: left;
	background: url("../img/icon_white.png") no-repeat 10px -748px;
}

.search {
	width: 360px;height: 40px;
	float: left;
	margin-left: 40px;margin-top: 15px;
}

.text_s {
	width: 300px;
	font-size: 13px;
	padding: 2px;
}

.but_s {
	position: relative;
	top: 7px;
	width: 40px;height: 26px;
	background: url("../img/search_icon.jpg");
	border: none;
	cursor: pointer;
}

.right_bar {
	float: right;
	margin-right: 30px;margin-top: 30px;
}

.weibologin {
	background: url("../img/botfollowicons.png") no-repeat left -18px;
}

.weibologin:hover {
	background: url("../img/botfollowicons.png") no-repeat left 0px;
}

.qqlogin {
	background: url("../img/botfollowicons.png") no-repeat left -234px;
}

.qqlogin:hover {
	background: url("../img/botfollowicons.png") no-repeat left -216px;
}

/*=============================================*/

.neck ul {
	width: 100%;height: 100%;
	padding-left: 60px;
}

.neck li {
	width: 90px;height: 100%;
	float: left;
	padding-left: 15px;padding-right: 15px;
	text-align: center;
	line-height: 40px;
}

.ouyjj {
	background: url("../img/navbar_heart.jpg") no-repeat 4px top;
}

.ouyjj:hover {
	background: url("../img/navbar_heart.jpg") no-repeat 4px bottom; 
}

.vmenulist {
	z-index: 10;
	width: 100px;
	border: 1px solid orange;
	right: 10px;
}

.vmenulist_first {
	background: url("../img/vmenuback.png") no-repeat top;
}

.vmenulist a {
	display: block;
	width: 100%;height: 36px;
	color: #A0522D;
	font-weight: bold;
	font-size: 14px;
	font-family: "ﾎ｢ﾈ樰ﾅｺﾚ";
	background-color: #fff;
	opacity: 0.8;
}

.vmenulist a:hover {
	background-color: #FFEFD5;
}

.rmmr {
	border-top: 1px solid #FFDEAD;
	border-bottom: 1px solid #FFDEAD;
}

/*=============================================*/

.cr_div1 {
	margin: 20px;
	margin-top: 25px;
}

.e {
	position: relative;
	left: -12px;
}

.cr_div2 {
	margin: 20px;
	position: relative;
	left: 28px;
}

.login {
	width: 105px;height: 28px;
	background: url("../img/bu_login.jpg");
	border: none;
	cursor: pointer;
}

.login:focus {
	outline: none;
}

.cr_div3 {
	position: relative;
	left: 40px;
}

.cr_div4 {
	width: 280px;height: 70px;
	background: url("../img/logo2.jpg") no-repeat right bottom;
}

.weibologin2 {
	background: url("../img/botfollowicons.png") no-repeat left 0px;
}

.qqlogin2 {
	background: url("../img/botfollowicons.png") no-repeat left -216px;
}

/*=============================================*/

.bleft_div1_list1 {
	position: relative;
	width: 660px;height: 160px;
	left: 15px;top: 25px;
}

.bleft_div1_list1 li {
	width: 220px;height: 80px;
	float: left;
}

.bleft_div1_list1 li:hover {
	cursor: pointer;
	opacity: 0.9;
}

.bleft_div1_list1 li:hover .textStyle_3 {
	color: #000;
}

.bleft_div1_list1 p {
	padding-bottom: 5px;
}

.ul_inner {
	position: relative;
	left: 75px;top: 25px;
	padding-left: 10px;
}

.bleft_div1_list2 {
	width: 95%;height: 30px;
	margin: 0 auto;
	position: relative;
	top: 33px;
}

.bleft_div1_list2 li {
	float: left;
	padding-left: 8px;padding-right: 10px;
}

/*======================*/

.bleft_div2_nav {
	width: 100%;height: 40px;
}

.bleft_div2_nav li {
	width: 100px;height: 37px;
	border-radius: 8px 8px 0 0;
}

.ui-tabs .ui-tabs-nav {
	background: none;
	border: none;
}

.ui-tabs .ui-tabs-nav li {
	border: 1px solid #DDDDDD;
	border-radius: 8px 8px 0 0;
	background: url("img/topbar.jpg");
}

.ui-tabs .ui-tabs-nav li a {
	color: orange;
	font-size: 14px;
	font-family: "ﾎ｢ﾈ樰ﾅｺﾚ";
	font-weight: normal;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background: url("img/tab.png");
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #fff;
	text-shadow: gray 1px 1px 5px;
}

#tabs {
	border: none;
}

#tabs .title_panel {
	margin-left: 10px;
}

#tabs .title_panel li {
	margin-left: 6px;
	box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.2);
}

#tabs .content_panel {
	border: 1px solid #DDDDDD;
	border-radius: 0;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/*=================*/

.tablist_div {
	border: 1px solid #DDDDDD;
	padding: 10px;
	background: url("../img/list_back.jpg") repeat-x bottom;
	margin-bottom: 25px;
}

.para2 {
	text-align: right;
	padding-top: 10px;
}

.para3 {
	padding-top: 15px;
	padding-left: 15px;
}

.para3_left a{
	margin-right: 15px;
}

.like {
	background: url("../img/icon_fav_li.png") no-repeat left top;
	padding-left: 25px;
}

.like:hover {
	background: url("../img/icon_fav_li.png") no-repeat left center;
}

.join {
	background: url("../img/icon_white.png") no-repeat left -351px;
	padding-left: 17px;
}

.comment {
	background: url("../img/icon_white.png") no-repeat left -20px;
	padding-left: 17px;
}

.author {
	background: url("../img/icon_white.png") no-repeat left -65px;
	padding-left: 17px;
}

.share_panel {
	float: right;
	position: relative;
	bottom: 25px;
	width: 140px;height: 30px;
}

.share_panel a {
	display: block;
	float: left;
	width: 17px;height: 17px;
	margin: 5px;
}

.shareweixin {
	background: url("../img/icon_white.png") no-repeat left -722px;
}

.sharexinlang {
	background: url("../img/botfollowicons.png") no-repeat left -288px;
}

.sharetengxun {
	background: url("../img/botfollowicons.png") no-repeat left -180px;
}

.shareqq {
	background: url("../img/botfollowicons.png") no-repeat left -144px;
}

.sharerenren {
	background: url("../img/botfollowicons.png") no-repeat left -72px;
}

/*=================================*/

.bleft_div3_title {
	width: 90px;height: 31px;
	background: url("../img/tab.png") repeat-x;
	border-radius: 8px 8px 0 0;
	border: none;
	box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.2);
	border: 1px solid #DDDDDD;
	margin-left: 20px;
}

.bleft_div3_content {
	width: 100%;
	border: 1px solid #DDDDDD;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.content_list {
	padding: 30px;
}

.content_list li {
	background: url("../img/hb_line.jpg") no-repeat bottom;
	padding-bottom: 20px;padding-top: 10px;
}

.head_img {
	border: 1px solid #DDDDDD;
	padding: 3px;
}

.content_list_p {
	padding-left: 70px;
	padding-top: 5px;
	line-height: 20px;
}

/*=============================================*/

.thigh_inner {
	position: relative;
	left: 60px;
}

.thigh ul {
	width: 125px;height: 100%;
	float: left;
}

.thigh .w100 {
	width: 100px;
}

.thigh li {
	padding-top: 10px;
}

.thigh_ul3 {
	margin-right: 50px;
}

.thigh_ul4 {
	margin-left: 50px;
	padding-left: 60px;
}

.android {
	background: url("../img/botfollowicons.png") no-repeat left -360px;
}

.iphone {
	background: url("../img/botfollowicons.png") no-repeat left -378px;
}

.xlwb {
	background: url("../img/botfollowicons.png") no-repeat left 0px;
}

.txwb {
	background: url("../img/botfollowicons.png") no-repeat left -180px;
}

.dbxzhan {
	background: url("../img/botfollowicons.png") no-repeat left -108px;
}

.dbxzu {
	background: url("../img/botfollowicons.png") no-repeat left -323px;
}

.twitter {
	background: url("../img/botfollowicons.png") no-repeat left -36px;
}

.rss {
	background: url("../img/icon_white.png") no-repeat left -404px;
}

/*================================================*/

.foot_inner {
	width: 400px;
	margin: 0 auto;
}

/*================================================*/

.div_a {
	display: block;
	width: 205px;height: 60px;
	margin: 5px auto;
}

/*================================================*/

.famous_list {
	padding: 10px;
}

.famous_list li {
	float: left;
	padding: 15px;
	padding-bottom: 0;
}

.showBox_foot {
	clear: both;
	width: 80%;
	margin: 0 auto;
	text-align: right;
	padding-top: 15px;
}

.showBox_A .more {
	background: url("../img/icon_white.png") no-repeat left -331px;
	padding-left: 15px;
}

/*================================*/

.jzfl li {
	width: 30%;
	float: left;
	padding-top: 5px;
}

.jzfl a {
	background: url("../img/tag_icon.gif") no-repeat 0 center;
	padding-left: 10px;
}

.jzfl_inner {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;padding-left: 5px;
}

/*================================*/

.tjjj {
	padding: 20px;
}

.tjjj li {
	background: url("../img/icon_favalbum_lit.gif") no-repeat left 8px;
	border-bottom: 1px dashed #DDDDDD;
	padding-bottom: 12px;
	padding-top: 5px;
}

.tjjj a {
	padding-left: 24px;
}

.tjjj .tjjj_last {
	padding-bottom: 0;
	border-bottom: none;
}

/*================================*/

.tjyh {
	padding: 20px;
}

.tjyh li {
	padding-bottom: 15px;
}


.para {
	width: 72%;
	float: left;
	padding-left: 10px;
}


/*================================*/

.khd {
	width: 100%;height: 170px;
	background: url("../img/app_back.jpg") no-repeat bottom;
}

.khd_tip {
	width: 75%;
	margin: 0 auto;
	padding-top: 25px;
}

.bright_div6 .showBox_A_body2 {background: none;}

/*================================*/

.gzwm {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;padding-bottom: 20px;
}

.gzwm_tip {
	line-height: 25px;
}

.xljgz {
	background: url("../img/botfollowicons.png") no-repeat 2px 2px;
	padding: 3px;
	padding-left: 20px;
	border: 1px solid #DDDDDD;
	color: #00BBFF;
	cursor: pointer;
}

.xljgz:focus {
	outline: none;
}

.txst {
	border: none;
	width: 58px;height: 24px;
	background: url("../img/quickfollowbgnew.gif") no-repeat right -258px;
	cursor: pointer;
}

.txst:focus {
	outline: none;
}

.xlsl {
	padding: 4px 10px;
	background: url("../img/quickfollowbgnew.gif") no-repeat right -413px;
}

.txsl {
	padding: 4px 10px;
	background: url("../img/quickfollowbgnew.gif") no-repeat right -413px;
}

.bshare-custom {
	width: 110%;
	padding-top: 25px;
}

































