
a {
	text-decoration: none;
}

.highlight_1:hover, #tabs .highlight_1:hover{
	color: orange;
}

.highlight_2:hover {
	color: yellow;
	opacity: 0.1;
}

.highlight_3:hover {
	color: black;
}

.highlight_4:hover, #tabs .highlight_4:hover{
	color: orange;
	text-decoration: underline;
}

.highlight_5:hover {
	color: blue;
}

.highlight_6:hover {
	color: #FFEE99;
}

.textStyle_1 {
	color: #00AA00;
	font-weight: bold;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
}

.textStyle_0 {
	color: #00AA00;
	font-weight: bold;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
}

.textStyle_2 {
	color: #AAAAAA;
	font-size: 14px;
	font-weight: bold;
}

.textStyle_3 {
	color: #666666;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 12px;
}

.textStyle_4, #tabs .textStyle_4 {
	color: #00AA00;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 11px;
}

.textStyle_5, #tabs .textStyle_5 {
	color: #AAAAAA;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 12px;
}

.textStyle_6 {
	color: #EE7700;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 12px;
}

.textStyle_7 {
	color: #fff;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 15px;
}

.textStyle_8 {
	color: #DDDDDD;
	font-size: 14px;
}

.textStyle_9 {
	color: #fff;
	font-size: 10px;
}

.textStyle_10 {
	color: orange;
	font-size: 8px;
	position: relative;
	top: -6px;left: -8px;
}

.textStyle_11 {
	color: #000;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 15px;
	font-weight: bold;
}

.textStyle_12 {
	color: orange;
	font-size: 8px;
}

.textStyle_13 {
	color: #fff;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 15px;
}

.textStyle_14, #tabs .textStyle_14 {
	color: #000;
	font-size: 12px;
}

.textStyle_15 {
	color: #fff;
	font-size: 14px;
	font-family: "Î¢ÈíÑÅºÚ";
	text-shadow: gray 1px 1px 5px;
}

.textStyle_16 {
	color: #C60;
	font-size: 13px;
	font-weight: bold;
	font-family: "Î¢ÈíÑÅºÚ";
}

.textStyle_17 {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
}

.textStyle_18 {
	color: #444444;
	font-size: 12px;
	font-family: "Î¢ÈíÑÅºÚ";
}

.textStyle_19 {
	color: orange;
	font-size: 12px;
	font-family: "Î¢ÈíÑÅºÚ";
}

/*==============================================*/

.boxShadow_1 {
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.6);
}


/*==============================================*/

.picsBoxA {
	width: 650px;
	position: relative;
	top: 10px;left: 25px;
}

.picsBoxA-main li {
	width: 650px;
	display: none;
}

.picsBoxA-main img {
	display: block;
	cursor: pointer;
}

.picsBoxA-main .picSelected {
	display: block;
}

.picsBoxA-foot {
	width: 650px;height: 26px;
	background-color: #fff;
}

.picsBoxA-foot li {
	width: 10px;height: 10px;
	background-color: #DDDDDD;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.picsBoxA-foot ul {
	position: relative;
	width: 120px;
	margin: 0 auto;
	top: 10px;
}

.picsBoxA-foot .circleSelected {
	background-color: orange;
}


/*==============================================*/

.inputbox {
	padding: 2px;
	width: 150px;
	font-size: 14px;
}

.boxsize_1 {
	width: 30px;height: 30px;
}

.boxsize_2 {
	width: 100%;
	padding-bottom: 10px;
}

.boxsize_3 {
	width: 100%;
	margin-bottom: 10px;
}

/*==============================================*/

/*=============================================*/

.showBox_A {
	width: 100%;
	border: 1px solid #DDDDDD;
}

.showBox_A_head {
	width: 100%;height: 29px;
	background: url("../img/ricu_back.jpg") repeat-x;
}

.textStyle_1 {
	font-size: 14px;
	color: #fff;
	font-family: "Î¢ÈíÑÅºÚ";
	text-shadow: gray 1px 1px 5px;
}

.showBox_A_head_title {
	float: left;
	padding-left: 5px;padding-top: 3px;
}

.showBox_A_body1 {
	width: 100%;
	background: url("../img/ricu_toba.jpg") left top no-repeat;
}

.showBox_A_body2 {
	width: 100%;
	background: url("../img/ricu_toboba.jpg") left bottom no-repeat;
}

.showBox_foot {
	padding-bottom: 20px;
}

/*=============================================*/


















