/*=============================================*/

a {
	font-family: "Î¢ÈíÑÅºÚ";
	text-decoration: none;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
}

.middle {
	width: 1000px;
	margin: 0 auto;
}

/*===========================================head==*/

#head {
	width: 100%;height: 35px;
	background: url("../img/y_headerbg.png") repeat-x;
}

#head a {
	color: #fff;
}

.head_left li {
	float: left;
	padding-right: 20px;
}


.head_left {
	position: relative;
	top: 7px;
	height: 35px;
	float: left;
}

.head_right {
	position: relative;
	top: 7px;
	height: 35px;
	float: right;
}

/*===========================================neck==*/

#neck {
	width: 100%;height: 43px;
	background-color: #f7f7f7;
}

#neck a {
	color: #0088cc;
	font-weight: bold;
}

#neck .neck_selected {
	color: #000;
}

.neck_left li {
	float: left;
	padding-right: 30px;
}

.neck_left {
	position: relative;
	left: 30px;top: 12px;
	height: 43px;
	float: left;
}

.neck_right {
	position: relative;
	top: 5px;left: 35px;
	height: 43px;
	float: right;
}

.search_t {
	width: 180px;
	font-size: 13px;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
	color: #898989;
}

.search_b {
	position: relative;
	right: 40px;top: 6px;
	border: none;
	width: 25px;height: 20px;
	background: url("../img/y_search_bg.png") no-repeat;
	cursor: pointer;
}

.search_b:focus {
	outline: none;
}

/*===========================================main==*/

#main {
	width: 100%;height: 2500px;
	background-color: #f0f2f1;
}

.chest {
	position: relative;
	top: 20px;
}



.picsBoxA {
	width: 630px;
	float: left;
}

.picsBoxA-main li {
	width: 630px;
	display: none;
}

.picsBoxA-main img {
	display: block;
	cursor: pointer;
}

.picsBoxA-main .picSelected {
	display: block;
}

.picsBoxA-foot {
	width: 630px;height: 36px;
	background-color: #fff;
}

.picsBoxA-foot li {
	width: 12px;height: 12px;
	background-color: #DDDDDD;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.picsBoxA-foot ul {
	position: relative;
	width: 120px;
	margin: 0 auto;
	top: 10px;
}

.picsBoxA-foot .circleSelected {
	background-color: gray;
}

.picsBoxA-link {
	position: absolute;
	padding: 23px 227px;
	margin-top: -75px;
	background-color: #000;
	opacity: 0.5;
	text-decoration: none;
	color: #fff;
	font-size: 22px;font-family: "Î¢ÈíÑÅºÚ";
	display: block;
}

.picsBoxA-link:hover {
	color: #AAAAAA;
	text-decoration: none;
}




.loginBox {
	border: 1px dashed #cbcdcc;
	float: left;
	margin-left: 22px;
	padding: 30px 20px;
}

.intro {
	color: #0088cc;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 18px;
}

.register_b {
	width: 305px;height: 45px;
	background: url("../img/registe_bg.jpg") repeat-x;
	border-radius: 7px;
	border: 1px solid #f0f2f1;
	color: #fff;
	font-size: 18px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight: bold;
	cursor: pointer;
	margin-top: 15px;
}

.register_b:hover {
	background: url("../img/registe_bg2.jpg") repeat-x;
}

.register_b:focus {
	outline: none;
}

.textbox {
	width: 275px;
	font-size: 13px;
	color: #898989;
	margin-top: 15px;
	padding-left: 25px;padding-top: 8px;padding-bottom: 8px;
	border: 1px solid #cbcdcc;
}

.email {
	background: url("../img/y_mail.png") no-repeat 5px 10px;
	background-color: #fff;
}

.password {
	background: url("../img/y_key.png") no-repeat 5px 7px;
	background-color: #fff;
}

.loginBox label {
	position: relative;
	bottom: 2px;left: 3px;
	font-size: 13px;
	color: gray;
}

.rememberMe {
	font-size: 13px;
	color: #0088cc;
	float: right;
}

.login_b {
	width: 305px;height: 34px;
	background: url("../img/login_bg.jpg") repeat-x;
	border-radius: 7px;
	border: 1px solid #cbcdcc;
	color: #0088cc;
	font-size: 14px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight: bold;
	cursor: pointer;
	margin-top: 15px;
}

.login_b:hover {
	background: url("../img/login_bg2.jpg") repeat-x;
}


.belly_left {
	width: 650px;height: 1600px;
	background-color: #fff;
	border-radius: 3px;
	float: left;
	margin-top: 40px;
}

.belly_left_title {
	border-bottom: 1px solid #f0f2f1;
	height: 30px;
	padding: 10px 20px;padding-bottom: 0;
}

.belly_right {
	width: 349px;height: 1600px;
	background-color: #fff;
	float: right;
	margin-top: 40px;
	overflow: hidden;
}

.r1 {
	padding: 25px;
	border-bottom: 1px solid #f0f2f1;
}

.imgStyle_1 {
	width: 289px;height: 175px;
}

.belly_right_title {
	height: 30px;
	padding: 10px 20px;padding-bottom: 0;
}

.textStyle_1 {
	font-weight: bold;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 15px;
	color: #000;
	float: left;
}

.textStyle_2 {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 15px;
	color: #0088cc;
	float: right;
}

.headpic {
	width: 50px;height: 50px;
	float: left;
	margin-right: 20px;
}

.r2 li {
	padding-bottom: 20px;
	padding-left: 20px;
}

.textStyle_3 {
	color: gray;
	font-size: 12px;
	font-family: "Î¢ÈíÑÅºÚ";
}

.textStyle_4 {
	color: #0088cc;
	font-size: 12px;
}

.r3 {
	padding: 25px;
	border-bottom: 1px solid #f0f2f1;
}

.top-dashed {
	padding-top: 25px;
	border-top: 1px dashed gray;
}

.r4 {
	width: 100%;height: 400px;

}

.r4 ul {
	padding: 20px;padding-top: 0;
}

.r4 li {
	width: 135px;height: 50px;
	float: left;
	margin-bottom: 20px;margin-right: 15px;
}

.r5 {
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 20px;
}

.titleStyle_1 {
	width: 100%;
	background-color: #66AEE0;
	font-size: 14px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight: bold;
	color: #fff;
	padding: 15px 20px;
}

.imgStyle_2 {
	width: 120px;height: 145px;
}

.textStyle_5 {
	color: #0088cc;
	font-size: 14px;
	font-family: "Î¢ÈíÑÅºÚ";
	vertical-align: text-bottom;
}

.imgStyle_3 {
	width: 180px;height: 120px;
}

.l1 {
	height: 770px;
}

.l1_imglist li {
	width: 195px;
	border: 1px solid #f0f2f1;
	padding-top: 18px;padding-left: 19px;
	float: left;
}

.textStyle_6 {
	color: #000;
	font-size: 14px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight: bold;
}

.textStyle_7 {
	font-size: 12px;
	font-family: "Î¢ÈíÑÅºÚ";
	color: gray;
}

.paraStyle_1 {
	width: 180px;height: 55px;
	line-height: 20px;
	padding-bottom: 10px;
}

.imgStyle_4 {
	width: 300px;height: 190px;
}

.link_list li {
	width: 260px;
	border-bottom: 1px dashed gray;
	padding: 10px;padding-left: 0;
	float: left;
}

.l2_img {
	width: 300px;height: 190px;
	padding: 20px;
	border: 1px solid #f0f2f1;
	float: left;
}

.link_list {
	width: 276px;
	float: left;
	border: 1px solid #f0f2f1;
	padding: 12px;padding-left: 18px;
}

.l3 {
	clear: both;
}

.l3_list li {
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dashed gray;
}


/*===========================================foot==*/

.foot {
	clear: both;
	width: 100%;height: 100px;
	border-top: 1px solid silver;
}

.foot p {
	height: 25px;
}


/*=============================================*/